Repository adikari/buildkite-monorepo: changes, and which Buildkite steps are due for each by the changed paths.
All: foo-service-pull-request, bar-service-pull-request

foo-service-pull-request:
  trigger: foo-service-pull-request

bar-service-pull-request:
  trigger: bar-service-pull-request

add diff script
  .buildkite/diff.sh
  .buildkite/merge.yml
  .buildkite/pull-request.yml
  bin/stack-config
Due: none

update path to diff script
  .buildkite/diff
  .buildkite/pull-request.yml
Due: none

update foo service pipeline
  foo-service/.buildkite/merge.yml
  foo-service/.buildkite/pull-request.yml
Due: foo-service-pull-request

modify build script
  foo-service/bin/deploy
Due: foo-service-pull-request

fix merge pipeline branch filtering
  .github/workflows/merge.yml
Due: none

add bar service pipeline
  bar-service/.buildkite/merge.yml
  bar-service/.buildkite/pull-request.yml
Due: bar-service-pull-request

add debug statement
  .buildkite/merge.yml
  .buildkite/pull-request.yml
Due: none

fix diff script for merge
  .buildkite/diff
  .buildkite/pull-request.yml
Due: none

fix diff message
  .buildkite/diff
Due: none

change foo service
  foo-service/bin/deploy
Due: foo-service-pull-request

remove debug logs
  .buildkite/merge.yml
  .buildkite/pull-request.yml
Due: none

Create README.md
  README.md
Due: none

move ssh keys to ~/.ssh folder
  bin/create-secrets-bucket
Due: none

update buildkite token variable
  bin/create-pipeline
  bin/deploy-ci-stack
  bin/stack-config
Due: none

update build script
  .github/workflows/merge.yml
  .github/workflows/pull-request.yml
  bar-service/.buildkite/merge.yml
  bar-service/.buildkite/pull-request.yml
  bar-service/bin/build
  bar-service/bin/deploy
  bar-service/bin/test
  foo-service/.buildkite/merge.yml
  foo-service/.buildkite/pull-request.yml
  foo-service/bin/build
  foo-service/bin/deploy
  foo-service/bin/test
Due: foo-service-pull-request, bar-service-pull-request

print webhook url
  bin/create-pipeline
Due: none

add deploy pipeline
  foo-service/.buildkite/deploy.yml
  foo-service/.buildkite/merge.yml
  foo-service/.buildkite/pull-request.yml
  foo-service/bin/deploy
Due: foo-service-pull-request

test commit
  foo-service/bin/deploy
Due: foo-service-pull-request

use buildkite agent token
  bin/deploy-ci-stack
  bin/stack-config
  foo-service/bin/deploy
Due: foo-service-pull-request

revert changes
  foo-service/bin/deploy
Due: foo-service-pull-request

add deploy pipeline configuration
  .buildkite/pipelines/deploy.json
Due: none

make change
  foo-service/bin/deploy
Due: foo-service-pull-request

fix pipeline name
  foo-service/.buildkite/merge.yml
Due: foo-service-pull-request

add type to deploy pipeline
  foo-service/.buildkite/deploy.yml
Due: foo-service-pull-request

fix syntax
  foo-service/.buildkite/deploy.yml
Due: foo-service-pull-request

add debug messages
  foo-service/.buildkite/deploy.yml
Due: foo-service-pull-request

fix script path
  foo-service/.buildkite/deploy.yml
Due: foo-service-pull-request

add file to trigger build
  foo-service/test.txt
Due: foo-service-pull-request

add bar service
  bar-service/.buildkite/deploy.yml
  bar-service/.buildkite/merge.yml
  bar-service/bin/deploy
  foo-service/test.txt
Due: foo-service-pull-request, bar-service-pull-request

Update README.md
  README.md
Due: none

making some change
  foo-service/test.txt
Due: foo-service-pull-request

Create pipeline.yml
  app/cms/pipeline.yml
Due: none

Create pipeline.yml
  bar-service/pipeline.yml
Due: bar-service-pull-request

Create test.yml
  bar-service/test.yml
Due: bar-service-pull-request

Create test2.yml
  bar-service/test2.yml
Due: bar-service-pull-request

Create Pipeline-2.yml
  bar-service/Pipeline-2.yml
Due: bar-service-pull-request

Create test-1
  foo-service/test-1
Due: foo-service-pull-request

Path conditions:
  foo-service-pull-request: any of: foo-service
  bar-service-pull-request: any of: bar-service
